<h1> LOG IN</h1>
<form action="/login" method="POST">
  <legend for="username"></legend>
  <input type="text" name="username" value="username">
  <legend for="username"></legend>
  <input type="password" name="password" value="password">
  <input type="submit" value="Login" class="button" style="width: 45px; text-align: center">
</form>