<!DOCTYPE html>

<head>
 <title>Add New Track</title>
</head>

<header>
  <p style="font-size: 14px;float:right; margin-right: 15px">User: <% #{session[:username]} %></p>
  <h1> ADD NEW TRACK</h1>  
</header>

<body>
<form method="post" action="/songs">
  <div>
    <h2><label>Author:</label></h2>
    <input type="text" name="author" size="28"><br>
  </div>
  <div>
    <h2><label>Title:</label></h2>
    <input type="text" name="title" size="28"><br>
  </div>
  <div>
    <h2><label>URL:</label></h2>
    <input type="text" name="url" size="28"><br>
  </div>
  <div>
    <input type="submit" value="Submit" class="button" id="submit" >
  </div>
</form>
<a href='/songs' class='button' id= "submit">Return to home</a>


</body>
</html>
